<p style="color: green"><%= notice %></p>

<% content_for :title, "H치bitos" %>

<h1>H치bitos</h1>

<div id="habitos">
  <% @habitos.each do |habito| %>
    <%= render habito %>
    <p>
      <%= link_to "Ver este h치bito", habito %>
    </p>
  <% end %>
</div>

<%= link_to "Novo h치bito", new_habito_path %>
