<% content_for :title, "Editing objetivo" %>

<h1>Editing objetivo</h1>

<%= render "form", objetivo: @objetivo %>

<br>

<div>
  <%= link_to "Show this objetivo", @objetivo %> |
  <%= link_to "Back to objetivos", objetivos_path %>
</div>
